
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

nav {
  top: 0;
  border: 3px #898F9C solid;
  width: 100%;
  position: static;

  ul {

    display: flex;
    list-style: none;
    font-weight: 100;
    letter-spacing: 2px;
    flex-direction: row;
    flex-wrap: nowrap;

    a {
      text-decoration: none;
      color: black;
      flex: 1;
      background-color: rgb(59,89,152);
      transition: background 0.5s;
      padding: 0.3em;
      font-size: 1.1em;
    }

    a:hover {
      background: rgba(59, 89, 152, 0.4);
    }

    a:link {
      color: black;
    }

    a:visited {
      color: black;
    }
  }
}
