<nav>
  <ul>
    <a *ngIf="user===null" routerLink="/register"><li>Register</li></a>
    <a *ngIf="user===null" routerLink="/login"><li>Log In</li></a>
    <a *ngIf="user===null" routerLink="/"><li>Main menu</li></a>
    <a routerLink="/" (click)="logout()" *ngIf="user!==null"> <li>Logout</li></a>
  </ul>
</nav>
