<app-header title="Your messages {{httpService.currentUserValue?.username}}"  ></app-header>

<div class="board-panel" *ngIf="user !== null">

  <div class="wrapper">
    <div *ngFor="let message of messages|async;  let i=index;">
    <mat-card *ngIf="message|async" >
      <mat-card-header>
        <mat-card-title>Message</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
     {{message|async}}
        </p>
      </mat-card-content>
    </mat-card>
    </div>
  </div>

</div>

<div class="center" *ngIf="user === null">
  <p>You're not logged in, so you can't view messages.</p>
</div>

