.board-panel
{
  color: black;
  margin-left: 2%;

  * {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(247,247,247);
  }

  mat-card {
    margin-bottom: 0.2em;
    word-wrap: break-word;
  }

  p {

    background-color: white;
  }

}

.wrapper {
  overflow: scroll;
  height: 80vh  ;
}

.center
{
	display: flex;
	justify-content: center;
	align-items: center;
}
