<app-header title="Users"></app-header>
<div class="users-panel">
  <span id="choice">Choose user:</span>
  <div *ngIf="users">
    <app-users-list [userList]="users"></app-users-list>
  </div>
</div>

