.users-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;

  * {
    width: 100%;
  }
}

#choice {
  text-align: center;
  font-size: 25px;
  background-color: rgba(71, 186, 183, 0.32);
  color: black;
}
