<div class="app">
  <app-navbar></app-navbar>

  <!--<div class="center" *ngIf="title !== null">-->
    <!--<button class="button" onClick="logout()" routerLink="/">Logout</button>-->
  <!--</div>-->

  <div *ngIf="router.url === '/'" class="flex-container">
    <app-board-panel class="flex-item-wide"></app-board-panel>
    <mat-divider [vertical]="true"></mat-divider>
    <app-sending-panel  class="flex-item-wide"></app-sending-panel>
    <mat-divider [vertical]="true"></mat-divider>
    <app-users-panel class="flex-item-narrow"></app-users-panel>
  </div>
  <!-- <div>
    <button class="button" routerLink="/">To main menu</button>
    <button class="button" routerLink="/register">Register</button>
    <button class="button" routerLink="/login">Login</button>
  </div> -->
  <router-outlet></router-outlet>

  <app-login *ngIf="router.url === '/login'"></app-login>
  <app-register *ngIf="router.url === '/register'"></app-register>
  <!--<p *ngIf=title> Witaj {{(title | async)?.username}}</p>-->
</div>


