.app {
  height: 100vh;
  background-color: rgb(223,227,238);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.flex-item-wide {
  max-width: 40vw;
  flex: 1;
}

.flex-item-narrow {
  flex: 0.5;
}

button
{
  display: block;
}

.button {
  background-color: darkblue;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


