body
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p
{
  text-align: center;
}

input[type=submit]
{
  background-color: darkblue;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.submitButton {
  background-color: rgb(59,89,152);
}
