<div class="wrapper">
  <p>New login:</p>
  <input type="text" #login>
  <p>New password: </p>
  <input type="password" #password>
  <p>Confirm new password:</p>
  <input type="password" #passwordS>
  <br>
  <div *ngIf="errMsg !== undefined" style="color:red;">{{errMsg}}<br></div>

  <input (click)="register(login.value,password.value,passwordS.value)" class="submitButton" type="button" value="Create new account">
  <!--<button (click)="register(login.value,password.value)">Create new account</button>-->
  <router-outlet></router-outlet>
</div>
