.header {
  height: 5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139,157,195);

  h2 {
    margin: 0;
  }
  span {
    display: inline-block;
  }
}
