<div class="wrapper">
  <p>Login:</p>
  <input #username type="text">
  <p>Password: </p>
  <input #password type="password">
  <br>
  <div *ngIf="errMsg !== undefined" style="color:red;">{{errMsg}}<br></div>
  <!--<button (click)="login(username.value,password.value)">Login</button>-->
  <!--<button (click)="logout()">Logout</button>-->
  <input (click)="login(username.value,password.value)" class="submitButton" type="button" value="Log in">
</div>
