.sending-panel, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;

  * {
    width: 100%;
  }

}

input, textarea
{
  display: block;
}

input[type=submit]
{

  color: black;
  font-size: 20px;
  font-weight: bolder;

}

.submitButton {
  background-color: rgb(59,89,152);
}
