<app-header title="Write message"></app-header>
<div class="sending-panel">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Write a message.</mat-label>
      <textarea #message [(ngModel)]="msg" cols="30" matInput name="message" placeholder="" rows="10"></textarea>
    </mat-form-field>
    <input
           (click)="sendMessage()" class="submitButton" type="button" value="Submit message">
  </form>
</div>

