<div>
  <mat-form-field class="full-width">
    <input (keyup)="updateFilter($event)" matInput placeholder="User" id="user-filter">
  </mat-form-field>
  <app-user-list-element *ngFor="let user of userListFiltered" [user]="user"></app-user-list-element>
</div>
